<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>To-Do lists</title>
</head>
<body>
    <h1>To-Do lists</h1>
    <form method="POST">
        <input name="item_text" id="id_new_item" placeholder="Enter a to-do item" />
        {% csrf_token %}
    </form>
    <table id="id_list_table">
        {% for item in items %}
        <tr><td>1: {{ item.text }}</td></tr>
        {% endfor %}
    </table>
</body>
</html>
